button
    @extend %border-none
    @extend %color-white
    @include bg($btnHover)
    cursor: pointer
    align-self: center
    border: 1px solid $white
    border-radius: 5px
    font-weight: 700
    width: 10em
    padding: 10px
    margin-bottom: 30px

    &:active
        background: #bd0826
        