.header 
    &__title
        @include bg($header-gradient)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        font-size: 3rem
        font-weight: 200
        margin-top: 40px

    &__hr
        @extend %border-none
        @include bg($header-gradient)
        height: 1px
        margin: 0.5rem 0 1rem 0
