span
    @extend %color-white
    box-sizing: border-box
    border-bottom: 1px solid #464646
    font-size: 1rem
    font-weight: 600
    width: 30em
    padding: 10px
    margin-bottom: 30px
    &::selection
        background-color: #774CF0
        @extend %color-white