$background-color: linear-gradient(to bottom, #141414, #141414)
$header-gradient: linear-gradient(150deg, #394bec, #618bff)
$header-btn: linear-gradient(150deg, #395aec, #618bff)
$white: rgb(255,255,255)
$btnHover: rgb(231, 9, 46)
$tam: 40em
$color-black: #020202
$selection: #774CF0
