@import 'variables','mixins','header','section','list','container'

%border-none
    border: none
%color-white
    color: white

body
    background: $background-color
    @include tam(100vw,100vh)



