* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #1f1f1f, #1b1919);
}
.header__title {
  background: linear-gradient(335deg, #7e39ec, #618bff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 200;
}
.header__hr {
  background: linear-gradient(335deg, #7e39ec, #618bff);
  height: 1px;
  border: none;
  margin-bottom: 20px;
}
.section {
  width: 40em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section__input {
  width: 30em;
  height: 2.5rem;
  border-radius: 3px;
  border: none;
  padding: 10px;
  text-align: left;
  outline: none;
  background: rgb(252, 252, 252);
  color: rgb(7, 7, 7);
  font-weight: 600;
}
.section__btn {
  width: 12em;
  height: 2.5rem;
  background: linear-gradient(135deg, #7e39ec, #618bff);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: 400ms all;
}
.list {
  height: 100px;
  width: 40em;
  margin-top: 20px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}
.section__btn:active {
  background: linear-gradient(335deg, #7e39ec, #618bff);
}
.list button:hover {
  border: 1px solid rgb(186, 13, 85);
  background: none;
}
.list span {
  color: #fff;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 200;
  border-bottom: 1px solid #464646;
  width: 30em;
  height: 40px;
  text-align: center;
  display: inline-flex;
  background: none;
}
.list button {
  width: 12em;
  padding: 10px;
  font-weight: 700;
  box-sizing: border-box;
  background: none;
  color: rgb(233, 14, 105);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
